{% extends 'bats.html' %}
{% block connect %}
    <div class="form-group">
                <label for="inputEmail4">手机号码</label>
                <input type="number" class="form-control" id="mobile" name="mobile" placeholder="请输入手机号"
                       autofocus="autofocus" required v-model="mobile" @blur="check_mobile">
               <small class="form-text text-muted ml-1">还没有账号？<a href="{% url 'users:register' %}" style="color: cornflowerblue; ">注册新账号</a></small>
                <small class="form-text text-danger ml-1" v-show="mobile_error">[[mobile_error_message]]</small>
            </div>
            <div class="form-group">
                <label for="id_password">密码</label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="请输入密码"
                       required class="form-control" v-model="password" @blur="check_password"/>
                <small class="form-text text-danger ml-1" v-show="password_error">[[password_error_message]]</small>
            </div>
            <div>
                <input type="checkbox" id="checkbox1"><label for="checkbox1">两周内免登录</label>
                <small class="form-text text-muted ml-1"><a style="color: cornflowerblue" href="{% url 'users:forgetpassword' %}">忘记密码</a> </small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">登录</button>
            </div>
            <div class="from-group">
                <small class="text-primary">{{ msg }}</small>
            </div>
{% endblock %}