{% extends 'bats.html' %}
{% block connect %}
    {% load static %}
    <div class="cl-cantainer container pt-5">
         <form class="col-md-6 offset-md-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
            </div>
            <!--<br><h5 class="col-md-4">暂无头像</h5><br>-->
            <br>
            {% if avatar %}
                <img src="{{ avatar }}"
                     style="max-width: 20%;" class="img-thumbnail"><br>
            {% else %}
                <img src="{% static '/img/portrait.png' %}"
                     style="max-width: 20%;" class="img-thumbnail"><br>
            {% endif %}

            <!-- avatar -->
            <div class="form-group">
                <label for="avatar">上传头像</label>
                <input type="file" class="form-control-file" name="avatar" id="avatar">
            </div>

            <!-- phone -->
            <div class="form-group">
                <label for="phone">电话</label>
                <input type="text" class="form-control" disabled="disabled" id="phone" name="phone" value="{{ mobile }}">
            </div>
            <!-- desc -->
            <div class="form-group">
                <label for="desc">简介</label>
                <!-- 文本区域 -->
                <textarea type="text" class="form-control" id="desc" name="desc" rows="5">{{ user_desc }}</textarea>
            </div>
            <!-- 提交按钮 -->
            <button type="submit" class="btn btn-primary" style="margin-left: 12px">修改</button>

        </form>
    </div>
    {% endblock %}